<h2>{{model.title}}</h2>
<h4>post by: {{model.author}}</h4>

{{update-blog blog=model update="update"}}

{{blog-detail blog=model destroyBlog="destroyBlog" destroyComment="destroyComment"}}

{{new-comment saveComment="saveComment" blog=model}}
