<h1>Welcome to Undefined-Access</h1>
<h3>Where undefined variables are our frienz</h3>
{{new-blog saveBlog2="saveBlog3"}}
<br>
<br>
<ul>
  {{#each model as |blog|}}
    {{blog-tile blog=blog}}
  {{/each}}
</ul>
<hr>
{{new-comment saveComment="saveComment"}}
<hr>
<div class="well">
<h2>Comments</h2>
<div class="well white">
<ul>
    {{#each model.comments as |comment|}}
    <li>
    <div class="row">
      <div class="col-lg-6">
        {{comment.author}}
      </div>
      <div class="col-lg-6">
        {{comment.content}}
      </div>
    </div>
  </li>
  <br>
  <hr>
    {{/each}}
</ul>
</div>
</div>
